@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Pacifico|Ruge+Boogie|Sacramento|Uncial+Antiqua|Zhi+Mang+Xing&display=swap');

:root {
    --main-color: #ac2525;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    background-color: #e9a7a7ad;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, p, section, header, main, 
footer {
    margin 0;
    padding 0;
}

header nav .logo {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 3rem;
    color: #8FBC8F;
    text-transform: uppercase;
    text-align: center;
}

header nav .header {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}
.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), 
.menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
 }

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;  
}

@media screen and (max-width: 999px) {
.menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }

}
  header section {
    background-image: url(../img/coffef1.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .product-card img {
    width: 100%;
    display: block;
    object-fit: cover;
}

main .product-card .button-group {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 660px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 860px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

h1, h2 {
    margin: 10px;
    font-family: 'Slabo', Tahoma, sans-serif;
    color: #0e5333
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(190, 50, 50);
    margin: 50px 40px 50px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: rgb(163, 42, 42);
    color: black;
}
.card-button:hover {
    background-color: black;
    color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 400px;
  align-content: space-between;
}
    
.bgr {
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
}
.button2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(190, 50, 50);
    margin: 10px 6px 10px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;